@model CreateCity
@{ ViewData["Title"] = "Create City"; }

<h1>Create</h1>

<h4>CreateCity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<!--<form asp-action="Create" method="post">
    <label asp-for="CityName"></label>
    <input asp-for="CityName" />
    <span asp-validation-for="CityName"></span>

    <label asp-for="CountryId"></label>
    <select asp-for="CountryId">
        @foreach (var item in Model.CountryList)
        {
            <option value="@item.Id"></option>
}
    </select>
    <span asp-validation-for="CountryId"></span>





    <button>Create</button>-->                     <!-- If there is a button inside a form it will react as submit -->
<!--</form>-->