@model List<City>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Create" >Create city</a>

<table>
    <thead>
        <tr>
            <th>Name of the city</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CityName</td>
                <td></td>
            </tr>
        }

    </tbody>
</table>