@model List<City>
@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<a asp-action="Create">Create city</a>

<table>
    <thead>
        <tr>
            <th>City Name</th>
            <th>Country Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>@item.CityName</td>
    <td>@item.Country == null ? "No Country" : item.Country.CountryName)</td> <!-- If the country is not null the CountryName will be used -->
</tr>}

    </tbody>
</table>