
@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<p>ViewBag.Msg @ViewBag.Msg</p>

<form asp-action="ExampleOne">

    <input type="text" name="messageText" value="" />

    <button>Save message</button>

</form>

<hr />


<form asp-action="ExampleTwo">

    <input type="text" name="messageText" value="" />

    <button>Save message</button>

</form>

<hr />

<button id="allBtn">All persons</button>                <!-- Looking for all persons -->
<input type="text" id="textInput" />
<button id="inputBtn">search for id</button>                 <!-- Looking for one person using id -->

<div id="resultDiv">

</div>


<script src="~/js/PersonJS.js"></script>