@model Person
@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

@if (Model != null)                                         // Check if there is a new (last) added person in the list
{
<div class="row">
    <div class="col-4">
        <h3>Last person added in the register</h3>
    </div>
    <div class="8">
        <partial name="_APersonRowPartialView" model="Model" /> <!-- Person -->
    </div>
</div>}