@model CreatePerson
@{
    ViewData["Title"] = "Create Person";
}

<h1>Create</h1>

<form asp-action="Create" asp-controller="People" method="post">

    <label asp-for="Name"></label>
    <input asp-for="Name">
    <span asp-validation-for="Name"></span>

    <label asp-for="InCityId"></label>
    <input asp-for="InCityId" />
    <span asp-validation-for="InCityId"></span>

    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
    <span asp-validation-for="Phone"></span>

    <button>Create</button>
    <button type="reset">Reset</button>

</form>
