@model Person
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<dl>
    <dt>City</dt>
    <dd>@Model.City</dd>
    <dt>Name</dt>
    <dd>@Model.Name</dd>
    <dt>Phone</dt>
    <dd>@Model.Phone</dd>

   
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
<a asp-action="Index">Back to List</a>