@model PersonLanguagesVM
@{
    ViewData["Title"] = "Manage Car Insurances";
}

<h1>Manage Car Insurances</h1>

<div class="row">
    <div class="col-6">
        <h4>Current</h4>
    </div>
    <div class="col-6">
        <h4>Available</h4>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul>
            @foreach (var item in Model.Person.PersonLanguages)
            {
                <li>
                    @item.Language.Name 
                </li>
            }
        </ul>
    </div>
    <div class="col-6">
        <ul>
            @foreach (var item in Model.Languages)
            {
                <li>
                    @item.Name @Html.ActionLink("Add", "AddLanguageToPerson", "Person", new { personId = Model.Person.Id, languageId = item.Id })
                </li>
            }
        </ul>
    </div>
</div>